.burger-menu:nth-of-type(2) {
    display: none;
}

.burger-menu:nth-of-type(3) {
    display: none;
}
  
.burger-menu:nth-of-type(4) {
    display: none;
}
  
.burger-menu:nth-of-type(5) {
    display: none;
}

.burger-menu:nth-of-type(6) {
    display: none;
}

.burger-menu:nth-of-type(7) {
    display: none;
}

.burger-menu:nth-of-type(8) {
    display: none;
}

@keyframes burger-menu-1 {
    0% {
        transform: translateY(-125%);
    }
    14% {
        transform: translate(0, 0%);
    }
}

#burger-checkbox:checked ~ .burger-menu:nth-of-type(2) {
    display: block;
    animation-name: burger-menu-1;
    animation-duration: 0.9s;
}

@keyframes burger-menu-2 {
    0% {
        transform: translateY(-250%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(0%);
    }
}
  
#burger-checkbox:checked ~ .burger-menu:nth-of-type(3) {
    display: block;
    animation-name: burger-menu-2;
    animation-duration: 0.9s;
}

@keyframes burger-menu-3 {
    0% {
        transform: translateY(-375%);
    }
    14% {
        transform: translateY(-250%);
    }
    28% {
        transform: translateY(-125%);
    }
    42% {
        transform: translateY(0%);
    }
}
  
#burger-checkbox:checked ~ .burger-menu:nth-of-type(4) {
    display: block;
    animation-name: burger-menu-3;
    animation-duration: 0.9s;
}

@keyframes burger-menu-4 {
    0% {
        transform: translateY(-500%);
    }
    14% {
        transform: translateY(-375%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-125%);
    }
    56% {
        transform: translateY(0%);
    }
}

#burger-checkbox:checked ~ .burger-menu:nth-of-type(5) {
    display: block;
    animation-name: burger-menu-4;
    animation-duration: 0.9s;
}

@keyframes burger-menu-5 {
    0% {
        transform: translateY(-625%);
    }
    14% {
        transform: translateY(-500%);
    }
    28% {
        transform: translateY(-375%);
    }
    42% {
        transform: translateY(-250%);
    }
    56% {
        transform: translateY(-125%);
    }
    70% {
        transform: translateY(0%);
    }
}

#burger-checkbox:checked ~ .burger-menu:nth-of-type(6) {
    display: block;
    animation-name: burger-menu-5;
    animation-duration: 0.9s;
}

@keyframes burger-menu-6 {
    0% {
        transform: translateY(-750%);
    }
    14% {
        transform: translateY(-625%);
    }
    28% {
        transform: translateY(-500%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-250%);
    }
    70% {
        transform: translateY(-125%);
    }
    84% {
        transform: translateY(0%);
    }
}

#burger-checkbox:checked ~ .burger-menu:nth-of-type(7) {
    display: block;
    animation-name: burger-menu-6;
    animation-duration: 0.9s;
}

@keyframes burger-menu-7 {
    0% {
        transform: translateY(-875%);
    }
    14% {
        transform: translateY(-750%);
    }
    28% {
        transform: translateY(-625%);
    }
    42% {
        transform: translateY(-500%);
    }
    56% {
        transform: translateY(-375%);
    }
    70% {
        transform: translateY(-250%);
    }
    84% {
        transform: translateY(-125%);
    }
    100% {
        transform: translateY(0%);
    }
}

#burger-checkbox:checked ~ .burger-menu:nth-of-type(8) {
    display: block;
    animation-name: burger-menu-7;
    animation-duration: 0.9s;
}

@keyframes burger-menu-7-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        display: none;
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(8) {
    animation-name: burger-menu-7-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-6-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        transform: translateY(-625%);
    }
    84% {
        display: none;
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(7) {
    animation-name: burger-menu-6-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-5-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        display: none;
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(6) {
    animation-name: burger-menu-5-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-4-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        display: none;
        transform: translateY(-500%);
    }
    70% {
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(5) {
    animation-name: burger-menu-4-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-3-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        display: none;
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(4) {
    animation-name: burger-menu-3-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-2-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        transform: translateY(-125%);
    }
    28% {
        display: none;
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        display: none;
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(3) {
    animation-name: burger-menu-2-retract;
    animation-duration: 0.9s;
}

@keyframes burger-menu-1-retract {
    0% {
        display: block;
        transform: translateY(0%);
    }
    14% {
        display: none;
        transform: translateY(-125%);
    }
    28% {
        transform: translateY(-250%);
    }
    42% {
        transform: translateY(-375%);
    }
    56% {
        transform: translateY(-500%);
    }
    70% {
        transform: translateY(-625%);
    }
    84% {
        transform: translateY(-750%);
    }
    100% {
        transform: translateY(-875%);
    }
}

#burger-checkbox:not(checked) ~ .burger-menu:nth-of-type(2) {
    animation-name: burger-menu-1-retract;
    animation-duration: 0.9s;
}
